@font-face {
    font-family: fontjp;
    src: url(../jp_fontJurassicPark.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #123123;
}

#body {
    margin: 0 auto;
}

#fundo {
    background-image: url('../img/jp_topoFundo.jpg');
    height: 15em;
    width: 110em;
    margin: 0 auto;
}

#logo {
    float: left;
    justify-content: center;
    width: 250px !important;
    padding: 1em;
    margin-left: 40px;
}

nav {
    text-align: center;
    border: 2px solid white;
    border-radius: 1em 0 1em 0;
    box-shadow: 5px white;
    background-image: url('../img/jp_menuFundo.jpg');
    overflow: hidden;
    width: 40em;
    padding: 1em;
    float: right;
    margin-right: 200px;
    margin-top: 70px;
}

nav a {
    text-decoration: none;
    color: white;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 30px;
}

#title {
    background-color: #550000;
    font-family: fontjp;
    margin: 0 auto;
}
