body {
    background-color: #617587 ;
}
.titulo {
    background-color: #b1cce6 ;
    border-top: 2px;
    border: solid 2px black;
}
.t1 {
    color: red;
    font-family: OCR A Std, monospace;
    font-size: 50px;
}
.t2 {
    background-color: red;
    color: white;
}
.carro1 {
    border: solid 2px black;
    position: relative;
    top: 10px;
    background-color: white;
    border-radius: 15px;
}
.tc1 {
    margin-left: 10px;
}
.imguno {
    width: 100px;
    height: 100px;
}